<h3><%= @now + 1 %>問目<h3>
<div class="sequence">
  <math display="block">
    <mfenced open="" close="">
      <mrow>
        <mi>a</mi>
      </mrow>
      <mrow>
        <mi>a</mi> 
        <mo>&#x2062;<!--INVISIBLE TIMES--></mo>
        <mi>r</mi>
      </mrow>
      <mrow>
        <mi>a</mi> 
        <mo>&#x2062;<!--INVISIBLE TIMES--></mo>
        <msup>
          <mi>r</mi>
          <mn>2</mn>
        </msup>
      </mrow>
      <%= @seq.map { |i| "<mrow><mn>#{i}</mn></mrow>"}.join %> 
      <mrow>
        <mi>&ctdot;</mi> 
      </mrow>
      <mrow>
        <mi>a</mi>
        <mo>&#x2062;<!--INVISIBLE TIMES--></mo>
        <msup>
          <mi>r</mi>
          <mi>n</mi>
        </msup>
      </mrow>
      <mrow>
        <mi>&ctdot;</mi> 
      </mrow>
    </mfenced>
  </math>
</div>

<form action="/<%= @next %>" method="get" class="button-area">
  <span style="display:flex;justify-content: center;text-align: center;">
    <span style="margin: auto 1em">初項a =</span> 
    <div class="mdc-text-field mdc-text-field--outlined answer-input">
      <input name="a" class="mdc-text-field__input" id="text-field-hero-input">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  </span>

  <span style="display:flex;justify-content: center;text-align: center;">
    <span style="margin: auto 1em">比率r =</span> 
    <div class="mdc-text-field mdc-text-field--outlined answer-input">
      <input name="r" class="mdc-text-field__input" id="text-field-hero-input">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  </span>

  <input type="submit" class="mdc-button mdc-button--outlined" />
</form>
